docs/#*#
#*#
*~
core
test.out
.metadata/.lock
.metadata/.log
.metadata/.plugins/
*.o
*.d
wtitp/Debug/wtitp
*.aux
*.dvi
*.gv
*.lof
*.log
*.lot
*.pdf
*.png
*.ps
*.tex
*.toc
*.wiki
.project
.cproject
sub_makefile.mk
t
y
doxygen
itp
test.latex

*.gcda
*.gcno
corbertura.xml
runner*
TEST-cxxtest.xml
