# generate with 'dot'.
digraph componentDiagram \{
  rankdir="LR"
  # http://www.graphviz.org/doc/info/attrs.html#d:size
  # Maximum: 8inch wide, 11 inch heigh
  # This seems to only affect .png files, not .ps files.
  size="8,10";
  ratio=auto;
  \{ node [shape=rectangle]
    { foreach my $refhEntity (@arEntityList) {
        $OUT .= "Entity_$refhEntity->{Id} [ label=\"$refhEntity->{Name}($refhEntity->{Id})\" ];\n";
        }
    }
  \}
  \{ edge [style=solid]
      { foreach my $refhRelation (@arRelationList) {
         # TODO V Make the arrowhead programmable, (per relation or per run?)
         # TODO V Make the relation arrow '->' programmable.
         $OUT .= "Entity_$refhRelation->{EntityAId} -> Entity_$refhRelation->{EntityBId} [ label=\"$refhRelation->{Name}\", ";
         if ( $refhRelation->{Direction} eq "out" ) {
           $OUT .=  " arrowhead=normal, dir=back";
         } elsif ( $refhRelation->{Direction} eq "in" ) {
           $OUT .=  " arrowhead=normal";
         } elsif ( $refhRelation->{Direction} eq "both" ) {
           $OUT .=  " arrowhead=normal, dir=both ";
         } else {
           $OUT .=  " arrowhead=none";
         }
         $OUT .=  " ];\n";
        }
     }
  \}
\}
