# generate with 'dot'.
digraph componentDiagram \{
  rankdir="LR"
  ratio=auto;
  \{ node [shape=rectangle]
    { foreach my $refhEntity (@arEntityList) {
        $OUT .= "Entity_$refhEntity->{Id} [ label=\"$refhEntity->{Name}\" ];\n";
        }
    }
  \}
  \{ edge [style=solid]
      { foreach my $refhRelation (@arRelationList) {
         # TODO V Make the arrowhead programmable, (per relation or per run?)
         # TODO V Make the relation arrow '->' programmable.
         $OUT .= "Entity_$refhRelation->{EntityAId} -> Entity_$refhRelation->{EntityBId} [ label=\"$refhRelation->{Name}\"  ];\n";
        }
     }
  \}
\}
