\documentclass[english]\{article\}
\usepackage[T1]\{fontenc\}
\usepackage[latin9]\{inputenc\}
\usepackage\{babel\}
\usepackage\{graphicx\}


\begin\{document\}
\section*\{Project Executive Summary\}
\input\{ProjectExecutiveCharter_1.tex\}
\end\{document\}
