% http://en.wikibooks.org/wiki/LaTeX/Importing_Graphics
\begin\{figure\}[here]
  \caption\{{$Title}\}
  \includegraphics[width=0.8\textwidth]\{{$IncludeGraphicsName}\}
\end\{figure\}

\begin\{table\}[here]
  \begin\{tabular\}\{|l|l|l|\} \hline
  Name & Description & Reference \\ \hline
  \multicolumn\{3\}\{|l|\}\{Entities\} \\ \hline
{ foreach my $nId (keys %hEntityNames) {
     $OUT .= "$hEntityNames{$nId}{'Name'} & $hEntityNames{$nId}{'Summary'} & \\\\ \\hline\n";
  }}
  \multicolumn\{3\}\{|l|\}\{Relations\} \\\\ \\hline
{ foreach my $nId (keys %hRelationNames) {
     $OUT .= "$hRelationNames{$nId}{'Name'} & $hRelationNames{$nId}{'Summary'} & \\\\ \\hline\n";
  }
}
  \end\{tabular\}
  \caption\{{$Title}\}
\end\{table\}


{
  foreach my $nId (keys %hEntityNames) {
     $OUT .= "\\subsubsection*\{$hEntityNames{$nId}{'Name'}\}\n";
     $OUT .= "$hEntityNames{$nId}{'Description'}\n";
  }
}

