digraph xsnth \{
  // TODO V Make ranksep dependent on the number of $hEntityNames. Unless I can find a way to get graphviz to automatically make it look nice.
  ranksep={$GraphVizRankSeperation};
  ratio=auto;
  \{ node [shape=rectangle]
{ 
    { foreach my $refhEntity (@arEntityList) {
        if ( $refhEntity->{Id} != $TheWorkId ) {
          $OUT .= "Entity_$refhEntity->{Id} [ label=\"$refhEntity->{Name}($refhEntity->{Id})\" ];\n";
        } else {
          $OUT .= "Entity_$refhEntity->{Id} [ shape=ellipse label=\"$refhEntity->{Name}($refhEntity->{Id})\" ];\n";
        }
        
      }
    }
}
  \}
  \{ edge [style=solid]
{
      { foreach my $refhRelation (@arRelationList) {
         $OUT .= "Entity_$refhRelation->{EntityAId} -> Entity_$refhRelation->{EntityBId} [ label=\"$refhRelation->{Name}\", ";
         $OUT .=  " arrowhead=none";
         $OUT .=  " ];\n";
        }
     }
}
  \}
\}
